<!-- <footer class="footer footer__aboutus p-5">
  <div class="card border-0 bg-transparent m-auto">
    <div class="row">
      <div class="col-4 border-start">
        <img
          class="footer__aboutus-logo w-50 mb-5"
          [src]="'/assets/images/logo.png'"
        />
        <h3 class="text-white fs-3 mb-4 fw-light">About us</h3>
        <p class="fs-6 text-white fw-light">
          Mauris accumsan urna eu pharetra elementum. Suspendisse
          potenti.Vestibulum ut quam luctus, pharetra dui sed, rutrum felis.
          Vestibulum tellus ipsum, rhoncus sed suscipit a, eleifend in.
          Vestibulum ut quam luctus, pharetra dui sed, rutrum felis.
        </p>
      </div>
      <div class="col-4 border-start">
        <nav class="navbar navbar-expand-lg footer__navigation">
          <div class="container-fluid">
            <div
              class="collapse navbar-collapse flex-column align-items-start"
              id="navbarSupportedContent"
            >
              <h6
                class="ps-2 ls-6 text-white fw-light footer__navigation-title"
              >
                {{ "Navigation" | uppercase }}
              </h6>
              <ul
                class="navbar-nav me-auto mb-2 mb-lg-0 flex-column text-white"
              >
                <li class="nav-item">
                  <a
                    class="nav-link text-white fw-light"
                    aria-current="page"
                    href="#"
                    >About</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white fw-light" href="#">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white fw-light" href="#">Gallery</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white fw-light" href="#">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="col-4 border-start">
        <nav class="navbar navbar-expand-lg footer__socialNetwork">
          <div class="container-fluid">
            <div
              class="collapse navbar-collapse flex-column align-items-start"
              id="navbarSupportedContent"
            >
              <h6
                class="ps-2 ls-6 text-white fw-light footer__navigation-title"
              >
                {{ "follow us" | uppercase }}
              </h6>
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-column">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#"
                    ><i class="fa-brands fa-facebook text-white"></i
                    ><span class="ms-2 text-white">&#64;Arabesque</span></a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#"
                    ><i class="fa-brands fa-instagram text-white"></i
                    ><span class="ms-2 text-white">&#64;Arabesque</span></a
                  >
                </li>

                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#"
                    ><i class="fa-brands fa-tiktok text-white"></i
                    ><span class="ms-2 text-white">&#64;Arabesque</span></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</footer> -->
<footer class="footer footer__aboutus py-5">
  <div class="container">
    <div class="row g-4 g-lg-5 align-items-start">
      <!-- Col 1 -->
      <div class="col-12 col-md-6 col-lg-4">
        <img
          class="footer__aboutus-logo img-fluid mb-4"
          src="assets/images/logo-diapo.png"
          alt="Arabesque"
        />
        <!-- <h3 class="text-white fw-light fs-3 mb-3">About us</h3> -->
        <p class="text-white fw-light mb-0">
          Mauris accumsan urna eu pharetra elementum. Suspendisse potenti.
          Vestibulum ut quam luctus, pharetra dui sed, rutrum felis. Vestibulum
          tellus ipsum, rhoncus sed suscipit a, eleifend in.
        </p>
      </div>

      <!-- Col 2 -->
      <div class="col-12 col-md-6 col-lg-4">
        <h6 class="footer__section-title text-white fw-light ps-1 mb-3">
          {{ "Navigation" | uppercase }}
        </h6>
        <ul class="footer__nav list-unstyled mb-0">
          <li><a class="footer__link" href="#">About</a></li>
          <li><a class="footer__link" href="#">Services</a></li>
          <li><a class="footer__link" href="#">Gallery</a></li>
          <li><a class="footer__link" href="#">Contact</a></li>
        </ul>
      </div>

      <!-- Col 3 -->
      <div class="col-12 col-md-6 col-lg-4">
        <h6 class="footer__section-title text-white fw-light ps-1 mb-3">
          {{ "follow us" | uppercase }}
        </h6>
        <ul class="footer__nav list-unstyled mb-0">
          <li>
            <a class="footer__link d-inline-flex align-items-center" href="#">
              <i class="fa-brands fa-facebook me-2"></i
              ><span>&#64;Arabesque</span>
            </a>
          </li>
          <li>
            <a class="footer__link d-inline-flex align-items-center" href="#">
              <i class="fa-brands fa-instagram me-2"></i
              ><span>&#64;Arabesque</span>
            </a>
          </li>
          <li>
            <a class="footer__link d-inline-flex align-items-center" href="#">
              <i class="fa-brands fa-tiktok me-2"></i
              ><span>&#64;Arabesque</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
