/* Roboto (only if not already global) */
@import "src/variables.scss";

.footer {
  &__aboutus {
    background-color: $secondColor;
    // .card {
    //   width: 80%;

    //   &-title {
    //     font-size: $titleSiweh2;
    //   }

    //   &-text {
    //     small {
    //       bottom: 20px;
    //       font-size: $ctaSizeText;
    //       letter-spacing: 0.255rem;
    //     }
    //     p {
    //       font-size: $contentSizeText;
    //     }
    //   }
    // }
  }

  &__navigation {
    padding-top: 0;

    &-title {
      letter-spacing: 0.325rem;
    }
  }

  &__socialNetwork {
    padding-top: 0;

    &-title {
      letter-spacing: 0.325rem;
    }
  }

  &__card-image {
    width: 300px;
  }

  &__card-bar {
    width: 6%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    background-color: #090b19;
    opacity: 0.6;
    position: absolute;
  }
}
