@use "styles/variables" as v;

.btn-radius {
  transition: background-color 0.3s, color 0.3s;
  color: v.$white;
  border: 1px solid v.$white;
  border-radius: 50px;
  font-size: v.$ctaSizeText;
  &:hover {
    background-color: v.$white;
    color: v.$secondColor;
  }
}
