// @import "src/variables.scss";
@use "styles/variables" as v;
@use "styles/breakpoints" as bp;

select,
select::picker(select) {
  appearance: base-select;
}

/** Mobile **/
.navbar {
  width: 100%;
}

.navbar-toggler {
  box-shadow: none !important;
}

.navbar-logo__offset-top {
  margin-top: -10px;
  padding-top: 10px;
  max-height: 100px;
  min-height: 80px;
  height: 100%;
  width: 100%;
  @include bp.up(lg) {
    width: 40%;
  }
  @include bp.up(xl) {
    width: 30%;
  }
  @include bp.up(xxl) {
    width: 23%;
  }
}

.container-fluid {
  padding-right: 0;
}

.img-fluid {
  width: 65%;
  @include bp.up(md) {
    width: 35%;
  }
  @include bp.up(lg) {
    width: 90%;
  }
}

.navbar-toggler {
  position: absolute;
  right: 10px;
  border: 1px solid v.$secondColor;
  top: 20px;
}

.navbar-toggler-icon {
  filter: invert(1); // turns black default into white
}

// background color for the navbar on tab and mobile
nav {
  transition: background-color 0.3s ease;
  &.bg-transparent {
    background-color: transparent;
  }
  &.bg-colored {
    background-color: v.$white; // or any desired color
    opacity: 0.9;
  }
}

nav.navbar {
  z-index: 1000;
  .navbar-brand {
    cursor: pointer;
  }

  &.solid-navbar {
    // onScrolling
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* solid after scroll */
    &__home,
    &__experiences {
      background: v.$white !important;
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

      .nav-link {
        transition: 0.3s ease, left 0.3s ease;
        color: v.$mainColor;
        font-weight: normal;

        &.active {
          transition: 0.1s ease, left 0.3s ease;
          color: v.$forthColor;
          &::after {
            background: v.$forthColor;
            bottom: 2px;
            content: "";
            display: block;
            height: 1px;
            left: 50%;
            position: absolute;
            transition: width 0.3s ease, left 0.3s ease;
            width: 100%;
            left: 0;
          }
        }
      }

      .nav-text {
        color: v.$mainColor !important; /* inverted link color */
      }
    }
  }

  &.bg-colored {
    .nav-link {
      // transition: 0.3s ease, left 0.3s ease;
      color: v.$secondColor;
      font-weight: 500;
    }
  }
}

.navbar-nav .nav-link {
  text-transform: uppercase;
  color: v.$white;
  font-stretch: extra-expanded;
  font-weight: normal;
  cursor: pointer;
  &:hover {
    color: v.$secondColor;
  }

  &.underline {
    display: inline-block;
    position: relative;

    &::after {
      background: v.$secondColor;
      bottom: 2px;
      content: "";
      display: block;
      height: 1px;
      left: 50%;
      position: absolute;
      transition: width 0.3s ease, left 0.3s ease;
      width: 0;
    }

    &:hover::after {
      width: 100%;
      left: 0;
    }
  }
}

.navbar-lang {
  select {
    font-weight: lighter;
    font-size: 1rem;
    background-color: transparent;
    padding: 0.45rem 1.5rem 0.25rem 0;
    color: white;
    cursor: pointer;
    border-radius: 0;
    border: none;
    background-size: 10px;
  }

  option::checkmark {
    content: "";
  }

  select::picker(select) {
    appearance: base-select;
    padding: 0.5rem;
    border: 0;
    border-radius: 10px;
    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l6 6 6-6' stroke='%23ffffff' stroke-width='2' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right center;
    color: #4cc6b9;
    transition: 0.4s rotate;
  }

  select::picker-icon {
    color: #ffffff;
    transition: 0.4s rotate;
  }

  select:open::picker-icon {
    rotate: 180deg;
  }

  option {
    background-color: #ffffff;
    color: #212121;
    font-size: 0.95rem;
    text-transform: lowercase;
    text-align: center;
    border: 0;
    width: 30px;
    padding: 0;
    &:checked {
      font-weight: normal;
      background-color: #ffffff;
      color: v.$secondColor;
      width: 20px;
      border: 0;
    }
  }
}
