<section class="hero">
  <div class="banner" [ngStyle]="backgroundStyle">
    <div
      class="banner__content d-flex flex-column justify-content-center w-100"
    >
      <!-- TITLE -->

      <div class="banner__title">
        <ng-container
          *ngIf="titleLines && titleLines.length > 0; else oneTitle"
        >
          <div *ngFor="let line of titleLines; let last = last">
            {{ line | translate }}<br *ngIf="!last" />
          </div>
        </ng-container>
      </div>
      <!-- SUBTITLE -->
      <p *ngIf="subTitle" class="banner__subtitle">
        {{ subTitle | translate }}
      </p>

      <cta-button-component
        class="mt-4 mt-5"
        *ngIf="ctaButtonText"
        [ctaButtonText]="ctaButtonText"
      ></cta-button-component>

      <div
        class="card-location__container d-flex flex-column justify-content-start w-100"
      >
        <div class="row">
          <div class="col-2 g-0">
            <div class="card card-location">
              <div class="card-location__rail" aria-hidden="true">
                <span class="card-location__rail-text">LOCATION</span>
              </div>
            </div>
          </div>
          <div class="col-10 g-0">
            <div class="card-body card-location__body">
              <div class="row">
                <div class="col-12">
                  <p class="card-location__subtitle mb-2">ALPES MARITIMES</p>
                </div>
                <div class="col-12">
                  <h3 class="card-location__title mb-0">
                    Menuiserie sur mesure
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- MESSAGE UNDERCONSTRUCTION -->
      <div
        *ngIf="underConstructionText"
        class="hero__underConstruction-wrapper"
      >
        <p class="banner__underConstruction">
          {{ underConstructionText | translate }}
        </p>
      </div>
    </div>
  </div>
</section>

<ng-template #oneTitle>
  <div class="banner__title w-50">
    {{ title | translate }}
  </div>
</ng-template>
