<section class="page-section1 container">
  <div class="page-section1__content">
    <div class="page-section1__heading">
      <p class="page-section1__subtitle">
        {{ "PAGE_SECTION_1_HEADLINE" | translate }}
        <span class="page-section1__arrow"
          ><i class="bi bi-arrow-down-right"></i
        ></span>
      </p>
      <h2 class="page-section1__title">
        {{ "PAGE_SECTION_1_TITLE" | translate }}
      </h2>
      <p class="page-section1__text">
        {{ "PAGE_SECTION_1_BODY" | translate }}
      </p>
    </div>

    <div class="page-section1__steps">
      <img
        src="assets/images/project-lifecycle.png"
        alt="Approach Circle"
        class="page-section1__circle"
      />
      <ul class="page-section1__list">
        <li class="page-section1__item">
          <h3 class="page-section1__step-title">
            {{ "PAGE_SECTION_1_STEP_REVEAL_TITLE" | translate }}
          </h3>
          <p class="page-section1__step-desc">
            {{ "PAGE_SECTION_1_STEP_REVEAL_CONCEPT" | translate }}
          </p>
        </li>
        <li class="page-section1__item">
          <h3 class="page-section1__step-title">
            {{ "PAGE_SECTION_1_STEP_DESIGN_TITLE" | translate }}
          </h3>
          <p class="page-section1__step-desc">
            {{ "PAGE_SECTION_1_STEP_DESIGN_CONCEPT" | translate }}
          </p>
        </li>
        <li class="page-section1__item">
          <h3 class="page-section1__step-title">
            {{ "PAGE_SECTION_1_STEP_DELIVER_TITLE" | translate }}
          </h3>
          <p class="page-section1__step-desc">
            {{ "PAGE_SECTION_1_STEP_DELIVER_CONCEPT" | translate }}
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
