<div class="banner" [ngStyle]="backgroundStyle">
  <div class="banner__content d-flex flex-column justify-content-center w-100">
    <!-- TITLE -->
    <div class="banner__title">
      <div *ngFor="let line of title; let last = last">
        {{ line | translate }}<br *ngIf="!last" />
      </div>
    </div>
    <!-- SUBTITLE -->
    <p *ngIf="subTitle" class="banner__subtitle">
      {{ subTitle | translate }}
    </p>

    <cta-button-component
      class="mt-4 mt-5"
      *ngIf="ctaButtonText"
      [ctaButtonText]="ctaButtonText"
    ></cta-button-component>

    <card-component></card-component>

    <!-- MESSAGE UNDERCONSTRUCTION -->
    <div *ngIf="isUnderConstruction" class="hero__underConstruction-wrapper">
      <p class="banner__underConstruction">
        {{ underConstructionText | translate }}
      </p>
    </div>
  </div>
</div>
