<section class="section3">
  <div class="container section3__container">
    <div class="about-title mb-5" data-aos="fade-up" data-aos-duration="1000">
      <h3 class="section3__title text-start">
        {{ "SECTION_3_TITLE" | translate }}
      </h3>
    </div>
    <div class="section3__tabs" data-aos="fade-up" data-aos-duration="1000">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" orientation="vertical">
        <li
          *ngFor="let detail of 'SECTION_3_DETAILS' | translate; let i = index"
          [title]="detail.tab"
          [ngbNavItem]="i"
        >
          <a ngbNavLink>{{ detail.tab }}</a>
          <ng-template ngbNavContent>
            <h4 class="title-tab-content text-start">
              {{ detail.title }}
              <!-- <small *ngIf="detail.subtitle" class="company-tab-content">
                  {{ detail.subtitle }}
                </small> -->
            </h4>
            <h5 class="job-time text-start">{{ detail.tab }}</h5>
            <div class="text-start">{{ detail.subtitle | translate }}</div>
            <h5 class="job-time text-start py-2">{{ detail.price }}</h5>
            <p
              *ngFor="let description of detail.description; let i = index"
              class="job-description"
              [innerHTML]="description | translate"
            ></p>
            <span></span>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
</section>
