@use "styles/variables" as v;
@use "styles/mixins" as mx;
@use "styles/breakpoints" as bp;

/* ─────────────────────────────  BANNER 2  ─────────────────────────────────────────────── */
.work {
  margin: 3rem 0;
  padding: 3rem 0;
  @include bp.up(lg) {
    padding: 3rem;
    margin: 3rem;
  }
}

.work-banner {
  position: relative;
  max-height: 50vh;
  color: #fff;
  font-family: v.$fontInter;

  /* background layer + overlay (text unaffected) */
  &__bg {
    position: absolute;
    inset: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;

    /* overlay */
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.45);
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    padding-top: 4rem; /* breathing on mobile */
    padding-bottom: 7.5rem; /* leave room for location card */
  }

  &__title {
    line-height: 1.05;
    text-align: center;
  }

  &__subtitle {
    margin-top: 1.25rem;
    color: rgba(255, 255, 255, 0.9);
    @include mx.fluid-type(16, 22); /* subtle scale */
  }

  /* under construction */
  &__uc {
    width: fit-content;
    background: #fffce8;
    opacity: 0.9;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
  }

  &__uc-text {
    color: #212121;
    @include mx.fluid-type(12, 14);
    font-weight: 500;
  }

  /* location card placement */
  &__location {
    z-index: 1;
    /* on small screens, card becomes full width and sits slightly above bottom edge */
    left: 0;
    right: 0;

    .card-location {
      width: 100%;
    }
  }

  &__btn {
    transition: background-color 0.3s, color 0.3s;
    color: v.$white;
    border: 1px solid v.$white;
    border-radius: 50px;
    font-size: v.$ctaSizeText;
    &:hover {
      border: 1px solid v.$white;
      background-color: v.$white;
      color: v.$secondColor;
    }
  }

  @include bp.up(md) {
    &__content {
      padding-top: 5rem;
      padding-bottom: 9rem;
    }
    &__location {
      width: 360px;
      left: auto;
    }
  }

  @include bp.up(lg) {
    &__content {
      padding-left: 3rem;
    }
    &__location {
      width: 345px !important;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

// ─────────────────────────────  CARDS  ─────────────────────────────────────────────── */

.card-work {
  display: none;

  &__subtitle {
    margin: 0 0 0.35rem 0;
    letter-spacing: 0.25rem;
    color: #6b7380; /* muted text */
  }
}

.btn-light {
  background-color: v.$thirdColor;
  border: 0;
  transition: 0.5s ease, left 0.3s ease;
  &:hover {
    border: 0;
    background-color: v.$secondColor;
    .card-work__subtitle {
      color: v.$white;
      transition: 0.5s ease, left 0.3s ease;
    }
  }
}
