<section class="work">
  <div class="work-banner">
    <div class="work-banner__bg" [ngStyle]="backgroundStyle"></div>

    <div
      class="container d-flex position-relative flex-column justify-content-center align-items-center py-5"
    >
      <p *ngIf="subTitle" class="work-banner__subtitle mb-0">
        {{ subTitle | translate }}
      </p>

      <p *ngIf="headline" class="text-center fs-5 text-white fw-light">
        {{ headline | translate }}
      </p>

      <div class="work-banner__title fs-2 text-white fw-semibold">
        {{ title | translate }}
      </div>

      <div class="mt-4 mt-md-5" *ngIf="ctaButtonText">
        <button type="button" class="btn btn-lg px-5 work-banner__btn">
          {{ ctaButtonText | translate | uppercase }}
        </button>
      </div>
    </div>
  </div>

  <div
    class="flex-column justify-content-center w-75 m-auto card-work d-md-flex"
  >
    <div class="row">
      <div class="card-body card-work__body p-0">
        <div class="row">
          <div class="col-4 p-0">
            <button
              type="button"
              class="btn btn-light btn-lg rounded-0 h-100 w-100"
            >
              <p class="card-work__subtitle mb-2 ls-1 fs-6 py-3">
                {{ "Pose de cuisine" | uppercase }}
              </p>
            </button>
          </div>
          <div class="col-4 p-0">
            <button
              type="button"
              class="btn btn-light btn-lg rounded-0 h-100 w-100"
            >
              <p class="card-work__subtitle mb-2 ls-1 fs-6 py-3">
                {{ "Pose de terrasse bois" | uppercase }}
              </p>
            </button>
          </div>
          <div class="col-4 p-0">
            <button
              type="button"
              class="btn btn-light btn-lg rounded-0 h-100 w-100"
            >
              <p class="card-work__subtitle mb-2 ls-1 fs-6 py-3">
                {{ "Pose de placo-plâtre" | uppercase }}
              </p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
